<div class="sideBar">
	<div class="sidebarContent">

		<ul class="navigation ">
			<li class="nav-link">
				<a href="{{path('offres_recruteur')}}">Offres</a>
			</li>
			<li class="nav-link">
				<a href="{{path('candidature_recruteur')}}">Candidature</a>

			</li>
			<li class="nav-link">
				<a href="{{path('info_recruteur')}}">Information personnel</a>
			</li>


		</ul>


	</div>


</div>
