{% extends 'base.html.twig' %}

{% block head %}
	<!-- Flickity CSS -->
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{relative_path("/css/carousel_style.css")}}" }>
	<link rel="stylesheet" href="{{relative_path("/css/home.css")}}">
{% endblock %}


{% block body %}

	{% include "/extension/navBar.html.twig" %}

	<div class="bg-dark p-5">
		<div class="form_search mx-auto">
			<form class="input-group w-auto my-auto d-none d-sm-flex">
				<input autocomplete="off" type="search" class="form-control rounded" placeholder="Rechercher par poste" style="min-width: 125px;">
				<span class="text-white input-group-text border-0 d-none d-lg-flex">
					<i class="fas fa-search"></i>
				</span>
			</form>
		</div>

	</div>

	<div class="container">
		{% include "/home/carousel.html.twig" %}

		<div class="row col">
			{{ include ("/home/filter.html.twig",{offresCarousel}) }}
			{{ include ("/home/card_list_offre.html.twig",{offres}) }}
		</div>


	</div>

{% endblock %}

{% block javascripts %}
	<!-- Flickity JavaScript -->
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
	<script src="/js/carousel.js"></script>


{% endblock %}
