.map_icon_offre, .cdi_icon_offre
{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}



@media screen and (max-width:780px){

    .offre_title
    {
        font-size: 0.85rem !important;
    }

    .offre_contrat , .offre_dispo, .offre_description
    {
        font-size:0.75rem !important;
    }

    .text_button
    {
        font-size:0.55rem;
    }

    .btn 
    {
        padding: 0.375rem 0.75rem !important;
    }

   
}
    
