{% extends "/recruteur/index.html.twig" %}
{% block stylesheets %}
	{{ encore_entry_link_tags('data_recruteur') }}

{% endblock %}

{% block body %}
	<div id="reactDataRecruteur"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('data_recruteur') }}

{% endblock %}
