{% extends 'login_template.html.twig' %}

{% block header %}
	<div class="text-center">
		<div class="mt-3">
			<i class="fas fa-user-tie fa-3x"></i>
			<p class="my-2">
				Se connecter en tant que Recruteur</p>
			<p>
				<a href="{{path('accueil')}}">Retourner à l'accueil</a>
			</p>
		</div>
	</div>
{% endblock %}
