#grow_loader
{
    height: 3rem;
    width: 3rem;
    margin:auto;
}

.loader_show
{
    display: block;
    text-align: center;
}

.loader_off
{
    display: none;
}

.message,.message_add
{
    opacity:0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.update_Show,.add_Show
{
    opacity:1;
    font-weight: bold;
}


.messageUpdateRecruteur,.messageUpdatePassword
{
    opacity:0;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.showMessage
{
    opacity:1 ;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}